//colors

/////hader colors
$_header-background_color: #fff;
$_logo_color: #bb1c1c;
$_explore-button_color: #282828;
$_explore-button_color-hover: #cccccc;
$_input-seaarch_background-color: #ecebeb;
$_input-seaarch_background-color-hover: #cac7c7;
$_log-in_button-color: #e3e1e1;
$_log-in_button-color-hover: #c7c6c6;
$_sign-up_button-color: #bb1c1c;
$_sign-up_button-color-hover: #8e1414;
