@media (max-width: 1024px) {
  //header
  .logo-wrap {
    a {
      .fa-brands,
      .fa-pinterest {
        font-size: 30px;
      }
    }
  }
  .input-search {
    line-height: 40px;
  }

  .input-search::placeholder {
    font-size: 13px;
  }

  .profile-link {
    .avatar-wrap {
      width: 40px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  //main-section

  .main-section {
    padding: 0 10px;
  }
  .cards-container {
    column-width: 180px;
  }
  .card-avatar {
    width: 30px;
    height: 30px;
  }
  .card-description {
    font-size: 13px;
  }
}

@media (max-width: 320px) {
  //header

  .logo-wrap {
    a {
      .fa-brands,
      .fa-pinterest {
        font-size: 18px;
      }
    }
  }
  .input-search {
    width: 80%;
    padding: 0 15px;
    line-height: 25px;
  }

  .input-search::placeholder {
    font-size: 10px;
  }
  .profile-link {
    width: 30px;
    .avatar-wrap {
      width: 30px;
      img {
        width: 100%;
        height: 100%;
        &::after {
          right: -10px;
          border-left: 3px solid transparent;
          border-right: 3px solid transparent;
          border-top: 4px solid $_logo_color;
        }
      }
    }
    .boards-modal {
      width: 130px;
    }

    .add-board-btn span {
      font-size: 15px;
    }
    .boards-list {
      div span {
        font-size: 13px;
      }
    }

    .delete-board {
      font-size: 13px;
    }
  }

  //create board

  .create-board-modal {
    width: 250px;
  }

  //report
  .report-modal {
    width: 250px;
  }

  //main-section
  .main-section {
    padding: 0 10px;
  }

  .cards-container {
    column-width: 100px;
    column-gap: 5px;
    padding: 10px 0;
  }

  .card-avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
