.create-board-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.35);
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
  z-index: 100;

  &.open {
    display: flex;
  }
}

.create-board-modal {
  background-color: #fff;
  padding: 22px;
  border-radius: 14px;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.2);
  animation: show 0.25s ease;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.create-board-input {
  padding: 10px 12px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;

  &:focus {
    outline: none;
    border-color: $_logo_color;
  }
}

.create-board-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.btn-cancel,
.btn-create {
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

.btn-cancel {
  background-color: #ddd;
  color: #000;
  transition: 0.3 ease;
}

.btn-cancel:hover {
  background-color: #cfcfcf;
}

.btn-create {
  background-color: $_logo_color;
  color: white;
  transition: 0.3 ease;
}

.btn-create:hover {
  background-color: $_button-hover;
}

.save-to-board-modal {
  position: absolute;
  top: 50px;
  left: 10px;
  padding: 10px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 1000;
}

.save-to-board-modal.open {
  display: block;
}

.save-board-item {
  padding: 6px 10px;
  cursor: pointer;
}

.save-board-item:hover {
  background: #f2f2f2;
}
