.header {
  background-color: $_header-background_color;
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header-wrap {
  max-width: 98%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.logo-wrap {
  a {
    display: inline-block;
    color: $_logo_color;
    font-family: 'Fira Sans';
    font-weight: 800;
    font-size: 25px;

    .fa-brands,
    .fa-pinterest {
      font-size: 35px;
    }
  }
}

.logo-wrap a:hover {
  animation: pulse-logo 0.8s infinite ease-in-out;
}

@keyframes pulse-logo {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.15) rotate(5deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

.input-search {
  width: 90%;
  line-height: 50px;
  border: none;
  border-radius: 40px;
  background-color: $_input-seaarch_background-color;
  padding: 0 10px 0 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  background-size: 20px 20px;
  transition: 0.3s;
  font-size: 17px;
  font-weight: 400;
  color: #232323;
}

.input-search::placeholder {
  font-size: 15px;
  font-weight: 400;
  color: #9c9c9c;
}

.input-search:hover {
  background-color: $_input-seaarch_background-color-hover;
}

.input-search:focus {
  outline: none;
}

.input-search::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
