@import './cdn';
@import './variables';
@import './header';
@import './main-sections.scss';
@import './createBoard.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  z-index: 3;
}

html {
  font-family: 'Oxygen', sans-serif;
  font-weight: 400;
}
