.main-section {
  background-color: $_header-background_color;
  padding: 10px 10px;
}

.cards-container {
  column-width: 250px;
  column-gap: 15px;
  width: 100%;
  padding: 20px 0;
}

.card-wrap {
  position: relative;
  break-inside: avoid;
  margin-bottom: 15px;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;

  img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 15px;
    margin-bottom: 10px;
  }
}

.card-wrap:hover .card-buttons {
  opacity: 1;
}

.card-buttons {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  opacity: 0;
  transition: 0.25s ease;
  pointer-events: none;
}

.card-buttons * {
  pointer-events: auto;
}

.card-buttons_left {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.report-button {
  position: absolute;
  right: 10px;
  bottom: 50px;
}

.card-buttons button {
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s ease;
}

.save {
  background: #e60023;
  color: white;
}

.save:hover {
  background: #ff0030;
}

.save-at {
  background: rgba(255, 255, 255, 0.6);
  color: black;
}

.save-at:hover {
  background: rgba(255, 255, 255, 0.85);
}

.report {
  background: rgba(255, 255, 255, 0.8);
  color: #333;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-weight: bold;
  padding: 0;
  margin-bottom: 10px;
}

.report:hover {
  background: rgba(199, 22, 22, 0.7);
  color: white;
}

.card-info {
  display: flex;
  align-items: center;
}

.card-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}

.card-description {
  width: 150px;

  a {
    color: #333;
    font-family: 'Oxygen';
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s ease;
  }
}

.card-description a:hover {
  color: #e60023;
  transform: scale(1.1);
}
